/*HEADLINE COMPONENT*/

.headline{
  margin:auto;
  text-align: center;
}
.logo{
  width:30px;
  height:46px;
  background-color:yellows;
  display:inline-block;
  margin-right:30px;
  background-color: aquamarine
}
.headline h1{
  display:inline-block;
  font-size: 4em;
}

/*INPUT COMPONENT*/

.inputComp{
  margin: auto;
  text-align: center;
  height:130px;
}
.inputComp input{
  margin-top:40px;
  font-size: 2em;
  margin-right: 10px;
}
.inputComp button{
  margin-top:40px;
  font-size: 2em;
  background-color:aquamarine;
}

/*DISPLAY COMPONENT*/

.display{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 660px;
  margin: auto;
  margin-top:50px;
}

.display .box1{
  width: 200px;
  height: 200px;
  text-align: center;
  background-color:brown;
  margin:10px;
  padding-top: 85px;
  box-sizing: border-box;
}


.display .box2{
  width: 200px;
  height: 200px;
  text-align: center;
  background-color:purple;
  margin:10px;
  padding-top: 85px;
  box-sizing: border-box;
}

.display .box3{
  width: 200px;
  height: 200px;
  text-align: center;
  background-color:hotpink;
  margin:10px;
  padding-top: 85px;
  box-sizing: border-box;
}
.display .box1 p{
  background-color: white;
  padding: 0 6px;
  margin-top: 100px;
  display: inline;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}


.display .box2 p{
  background-color:white;
  padding: 0 6px;
  margin-top: 100px;
  display: inline;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.display .box3 p{
  background-color:white;
  padding: 0 6px;
  margin-top: 100px;
  display: inline;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

/*this next part is just for us to see the component better while*/
/*buidling it*/

.headline{
  outline: 1px lightgrey solid;
  outline-offset:-20px;
}

.inputComp{
  outline: 1px lightgrey solid;
  outline-offset:-20px;
}

.display{
  outline: 1px lightgrey solid;
  outline-offset:30px;
}
